
<!-- ! Componente de listado de personajes -->
<h4>Listado</h4>
<ul class="list-group">
  <li
    *ngFor="let character of characterList;
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd = odd;
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-success': isEven,
      'list-group-item-danger': isOdd
    }">
    <div>
      <span class="text-danger"> {{ i + 1 }}. </span>
      <span> {{ character.name }} - </span>
      <strong class="text-primary"> Power: </strong>
      <span> {{ character.power }} </span>
    </div>
    <button class="btn btn-danger" (click)="deleteCharacter(character.id)">X</button>
    <!-- <span>Es el primer: {{ i === 0 }} </span> -->
    <!-- <span>Es el primer: {{ isOdd }} </span> -->
  </li>
</ul>
